h1,
h2,
h3,
h4,
h5,
h6,
p, 
ul {
    margin: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #FFFFFF;
    color: #434455;
    margin: 0 auto;
}

/* Header */

.header-class {
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
}

.header-class .container {
    display: flex;
    box-sizing: border-box;
    width: 1158px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation-class {
    display: flex;
    align-items: center;
    margin-right: 332px;
}

.logo {
    color:#4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration:none;
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    margin-right: 76px
}

.span-logo {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-nav-list {
    display: flex;
    list-style: none;
    align-items: flex-start;
    gap: 40px;
    padding: 24px 0;
}
.header-nav-items {
    color:#2E2F42;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.32px;
    text-decoration: none;
    padding: 24px 0;
}

.header-nav-items:hover, 
.header-nav-items:focus {
    color: #404BBF;
    text-decoration: none
}

.header-nav-items:active {
    color: #404BBF;
    text-decoration: underline;
    text-decoration-color: #404BBF;
}

.header-nav-address {
    color: #434455;
    text-decoration: none;
    font-style: normal;
    
}

.header-nav-contacts {
    color: #434455;
    text-decoration: none;  
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-nav-contacts:hover,
.header-nav-contacts:focus {
    color: #404BBF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Hero-image */


.main-section-hero {
    background-color: #2e2f42;
    padding: 188px 0;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section-hero-text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-bottom: 48px;
}

.main-section-hero-button {
    background-color: #4D5AE5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-style: none;
    min-width: 169px;
    cursor: pointer;
    margin: 0 auto;
}

.main-section-hero-button:hover,
.main-section-hero-button:focus {
    background-color: #404BBF;
}

/* Section-text */

.main-section-text {
    display: flex;
    padding: 120px 0;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-section-list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding-left: 0;
}


.main-section-list-item {
    display: flex;
    flex-basis: calc((100% - 72px) / 4);
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
}

.main-section-paragraph {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.main-section-paragraph-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* Section-team */

.main-section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
    display: flex;
    justify-content: center;
}

.main-section-team-name {
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.main-section-team-list-item {
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.main-section-team-list-text {
    color:#2E2F42;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.main-section-team-list-paragraph {
    color:#434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.worker-name {
    padding: 32px 0;
}

/* Section-portfolio */

.main-section-portfolio .container {
    box-sizing: border-box;
    width: 1158px;
    flex-shrink: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.main-section-portfolio {
    padding: 120px 0;
    justify-content: center;
    display: flex;

}

.main-section-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    box-sizing: border-box;
    padding-left: 0;
}

.section-list-portfolio-item {
    box-sizing: border-box;
    width: calc((100% - 48px) / 3);
    max-width: 360px;
}

.main-section-portfolio-list-text {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.main-section-portfolio-list-paragraph {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.worker-name-portfolio {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

/* Footer */

.footer {
    background:#2E2F42;
    padding: 100px 0
}

.footer-text {
    color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-span-logo {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer .container {
    margin-left: 156px;
}

/* Other */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

img {
    display: block
}